{% extends 'base-full.html' %}
{% load staticfiles %}
{% block main %}
<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">About Me</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'blog/img/me.jpg' %}" alt="Developer Image">
								</figure>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;Why named myself Ke1vin7?Because my English name is Ke1vin,this "seven" remind me the past seven year which since 2010 to 2017 is a good opportunity to change my life but I hadn't catched it.So I will never ever live a decadent life like past seven years.I'am a programmer who is new beginning in Python and work in a company using Java,I love program so I will never stop my step to study and code.</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;This blog is my first project by using Python ,so just send me a email if this blog have some where need upgrade or some bug need fix.Thank you for visit my blog.</p>
                            </div>
						</article>
					</main>
				</div>
			</div>
		</div>
{% endblock %}