{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<h1 class="page-title">About Me</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'blog/img/me.jpg' %}" alt="Developer Image">
								</figure>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;Why named myself Ke1vin7?Because my English name is Ke1vin,this "seven" remind me the past seven year which since 2010 to 2017 is a good opportunity to change my life but I hadn't catched it.So I will never ever live a decadent life like past seven years.I'am a programmer who is new beginning in Python and work in a company using Java,I love program so I will never stop my step to study and code.</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;This blog is my first project by using Python ,so just send me a email if this blog have some where need upgrade or some bug need fix.Thank you for visit my blog.</p>
								<div class="height-40px"></div>
								<h2 class="title text-center">Social</h2>
								<ul class="social">
									<li class="twitter"><a href="https://www.linkedin.com/in/ke1vin7/" target="_blank"><span class="ion-social-linkedin"></span></a></li>
									<li class="twitter"><a href="https://twitter.com/KK_Kmaro" target="_blank"><span class="ion-social-twitter"></span></a></li>
									<li class="twitter"><a href="https://plus.google.com/u/0/115919268528810291143" target="_blank"><span class="ion-social-googleplus"></span></a></li>
									<li class="twitter"><a href="https://github.com/KelvinMario" target="_blank"><span class="ion-social-github"></span></a></li>
								</ul>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
{% endblock %}