
{% extends 'base.html' %}
{% load staticfiles %}
        {% block main %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<h1 class="page-title">Contact</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<form action="{% url 'message:send_message' %}" method="post" class="contact-form">
                                    {% csrf_token %}
									<div class="row">
										<div class="col-md-6 col-md-offset-4">
{#                                            <div class="col-md-4">#}
{#                                                <label for="{{ form.name.id_for_lable }}" ></label>#}
{#                                                {{ form.name }}#}
{#                                            </div>#}
{#                                            <div class="col-md-4">#}
{#                                                <label for="{{ form.email.id_for_lable }}" ></label>#}
{#                                                {{ form.email }}#}
{#                                            </div>#}
{#                                            <div class="col-md-4">#}
{#                                                <label for="{{ form.subject.id_for_lable }}" ></label>#}
{#                                                {{ form.subject }}#}
{#                                            </div>#}
{#                                            <div class="col-md-4">#}
{#                                                <label for="{{ form.message.id_for_lable }}" ></label>#}
{#                                                {{ form.message }}#}
{#                                            </div>#}
											<input type="text" name="{{ form.name }}" placeholder="Name" required>
											<input type="email" name="{{ form.email }}" placeholder="Email" required>
											<input type="text" name="{{ form.subject }}" placeholder="Subject" required>
											<textarea name="{{ form.message }}" rows="7" placeholder="Your Message" required></textarea>
											<button class="btn-send btn-5 btn-5b ion-ios-paperplane"><span>Drop Me a Line</span></button>
										</div>
									</div>	<!-- row -->
								</form>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
        {% endblock %}